@import "../../../Shared/Styles/basic-flex-setup.scss";
@import "../../../Shared/Styles/colors.scss";

#own-left_side-component-div {
  @include bfs(column, absolute);
  background-color: $primary-color;
  width: 30%;
  height: 100%;
  box-shadow: 0vw 0vw 3vw $primary-color;
  color: black;
  z-index: 99;
}

#own-left_side-component-title-div {
  align-self: flex-start;
  position: absolute;
  top: 0;
  margin-top: 5vh;
  padding: 1vw;
  width: 90%;
}
#own-left_side-component-content-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  bottom: 0;
  position: absolute;
  margin-bottom: 10vh;
  width: 90%;
  //padding-top: 10vh;
  gap: 3vh;
  text-align: justify;
  text-shadow: 1px 1px 1px $primary-dark-color;
  font-size: 1.5vw;
  line-height: 2vw;
}

#own-left_side-component-content-div button {
  align-self: flex-end;
  font-size: 2vw;
  width: 60%;
  height: 8vh;
}

h1 {
  font-size: 4vw;
}
