@if (loading) {
<span class="own-spinner">
  <mat-spinner color="accent"></mat-spinner>
</span>
}

<app-control-panel
  (minusEvent)="inputValuesArray = minusRow(true, true)"
  (plusEvent)="addRow()"
  (switchEvent)="setTitleGiving()"
  [controlPanelSide]="titleGiving"
></app-control-panel>

@if (!titleGiving) { @for (item of inputValuesArray; track $index; let i =
$index) {
<app-input-element
  [index]="i"
  [valueObject]="getElementByIndex(i)"
  (setCardEvent)="setCardByIndex($event)"
></app-input-element>
} }@else {

<app-title [inputTitle]="title" (saveEvent)="save($event)"></app-title>
}
