@import "../../../Shared/Styles/colors.scss";
@import "../../../Shared/Styles/basic-flex-setup.scss";

mat-toolbar {
  background-color: $primary-dark-color;
  padding: 0;
  height: 8vh;
  position: fixed;
  z-index: 999;
}

#own-menu_bar-component-menu-div {
  @include bfs(row, relative);
  width: 40%;
  height: 100%;
  justify-content: space-around;
}
#own-menu_bar-component-icon-div {
  width: 10%;
  height: 100%;
  @include bfs(relative, row);
  margin-left: auto;
  justify-content: space-evenly;
}

#own-menu_bar-component-navigation-div {
  @include bfs(relative, row);
  justify-content: flex-start;
  padding-left: 1%;
  margin-left: 0;
  width: 9%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 0em 2.5rem 2.5rem 0;
  color: $accent-color;
  font-size: 1.3vw;
  color: $primary-color;
}

#own-menu_bar-component-menu-div button {
  font-size: 1.2vw;
  width: 8vw;
  height: 80%;
  color: $accent-color;
  @include bfs(row, relative);
}

mat-icon {
  color: $accent-color;
  width: 100%;
  height: 100%;
}
