<div id="own-click-input_component-controller-div">
  <button
    mat-icon-button
    (click)="resultEvent.emit({ index: actualIndex, result: true })"
  >
    <mat-icon [style]="{ color: 'green' }">done_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="resultEvent.emit({ index: actualIndex, result: false })"
  >
    <mat-icon [style]="{ color: 'red' }">close</mat-icon>
  </button>
  <button mat-icon-button (click)="turnEvent.emit()">
    <mat-icon>sync</mat-icon>
  </button>
</div>
